@import "../../../../../scss/variables.scss";

$height: 25rem;

#movieDetailPage {
  .movie-detail-wrapper {
    background-color: $background-color-page;
    padding: 3.125rem 0;

    .movie-img {
      height: $height;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
        width: auto;
        border-radius: 1rem;
      }
    }

    .movie-content {
      height: $height;
      margin-bottom: 1rem;

      .movie-title {
        font-size: 2.25rem;
        color: $primary-text-color;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      ul {
        margin-bottom: 0.5rem;

        li {
          color: $secondary-text-color;
          font-weight: 400;
          line-height: 1.5rem;
          padding: 0.625rem 0;
        }
      }
    }

    .btn {
      padding: 0.375rem 1.5625rem;
      border: none;
      font-weight: bold;
      transition: all 0.5s;
    }

    .movie-description {
      color: $primary-text-color;
      .title {
        font-size: 1.5rem;
        padding: 1.5rem 0;
        font-weight: 600;
        margin: 0;
      }

      .content {
        color: $secondary-text-color;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
  }
}
