@import "../../../scss/variables.scss";

#movieListPage {
  .movie-list-wrapper {
    background-color: $background-color-page;
    padding: 3.125rem 0;

    .movie-card img {
      height: 16.25rem;
    }
  }

  a:hover {
    color: $primary-theme-color-hover;
  }
}
