.slick-slider .slick-dots {
    text-align: right;
}

.slick-slider .slick-dots li {
    margin: 0;
}

.slick-slider .slick-dots li button:before {
    width: 14px;
    height: 14px;
    content: "";
    opacity: 1;
    background-color: #f5f5f5;
    border-radius: 50%;
}

.slick-slider .slick-dots li button:focus:before,
.slick-slider .slick-dots li button:hover:before {
    background-color: #dcf836;
}

.slick-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #dcf836;
}
