@import "./../../../../scss/variables.scss";

#navbarComp.navbar {
  color: $primary-text-color;
  background-color: $background-color-page;
  min-height: 80px;

  a.navbar-brand {
    height: 80px;
    padding: 0.625rem 0.9375rem;
    padding-left: 0;
  }

  .nav-link {
    color: $primary-text-color;
    text-decoration: none;
    font-size: 1.125rem;
    text-transform: capitalize;
    line-height: 1.25rem;
    font-weight: 600;

    &:hover,
    &.active {
      color: $primary-theme-color-hover;
    }
  }

  .toggle-buton {
    background-color: #06121e;
    border: none;
  }

  .toggle-buton span {
    display: none;
  }

  .account {
    span {
      margin-left: 0.5rem;
      cursor: pointer;
      svg {
        font-size: 1.25rem;
      }
      &:hover {
        color: $primary-theme-color-hover;
      }
    }
  }
}
